MULTISEARCH_APP_KEY=
MULTISEARCH_PLACEMENT_ID=

RECOMMENDATION_APP_KEY=
VISUALLY_SIMILAR_PLACEMENT_ID=
MODEL_OUTFIT_PLACEMENT_ID=
PAIRING_SUGGESTIONS_PLACEMENT_ID=
OUTFIT_INSPIRATIONS_PLACEMENT_ID=
GALLERY_PLACEMENT_ID=

PRODUCT_ID=
TEXT_QUERY=
IMAGE_URL=