@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@layer components {
  .wigmix-widget-title {
    @apply text-mobile-widgetTitle md:text-tablet-widgetTitle lg:text-desktop-widgetTitle font-mobile-widgetTitle md:font-tablet-widgetTitle lg:font-desktop-widgetTitle
  }
  .wigmix-calls-to-action-text {
    @apply text-mobile-callsToActionText md:text-tablet-callsToActionText lg:text-desktop-callsToActionText font-mobile-callsToActionText md:font-tablet-callsToActionText lg:font-desktop-callsToActionText
  }
  .wigmix-product-card-title {
    @apply text-mobile-productCardTitle md:text-tablet-productCardTitle lg:text-desktop-productCardTitle font-mobile-productCardTitle md:font-tablet-productCardTitle lg:font-desktop-productCardTitle
  }
  .wigmix-product-card-secondary-title {
    @apply text-mobile-productCardSecondaryTitle md:text-tablet-productCardSecondaryTitle lg:text-desktop-productCardSecondaryTitle font-mobile-productCardSecondaryTitle md:font-tablet-productCardSecondaryTitle lg:font-desktop-productCardSecondaryTitle
  }
  .wigmix-product-card-price {
    @apply text-mobile-productCardPrice md:text-tablet-productCardPrice lg:text-desktop-productCardPrice font-mobile-productCardPrice md:font-tablet-productCardPrice lg:font-desktop-productCardPrice
  }
  .wigmix-product-card-original-price {
    @apply text-mobile-productCardOriginalPrice md:text-tablet-productCardOriginalPrice lg:text-desktop-productCardOriginalPrice font-mobile-productCardOriginalPrice md:font-tablet-productCardOriginalPrice lg:font-desktop-productCardOriginalPrice
  }
}

.left-align-slick-track {
  transform: unset !important;
  margin-left: unset !important;
}
